<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Undostres.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
				<key>dateExpires</key>
				<string>07/04/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TACNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TargetActClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>R7V8S8P9UA.mx.com.123.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>R7V8S8P9UA</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.mx.com.123.pushtracking</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>c6c3ab59-d056-4ac6-86a0-b92f7f5524ee</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: mx.com.123.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BE545995642704758CCD36E87C87523FD5BAFB5C</string>
						<key>dateExpires</key>
						<string>07/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>R7V8S8P9UA.mx.com.123.NotificationVC</string>
						<key>com.apple.developer.team-identifier</key>
						<string>R7V8S8P9UA</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.mx.com.123.pushtracking</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationVC.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>9a1395a2-28ff-44e7-b3bb-10f7b942cafa</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: mx.com.123.NotificationVC</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7V8S8P9UA</string>
						<key>name</key>
						<string>Belanea Mexico SAPI de CV</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R7V8S8P9UA.mx.com.123</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:udt.mx</string>
					<string>applinks:undostres.com.mx</string>
					<string>applinks:test.undostres.com.mx</string>
					<string>applinks:sanbox.undostres.com.mx</string>
					<string>applinks:prueba.undostres.com.mx</string>
					<string>applinks:nobugs.undostres.com.mx</string>
					<string>applinks:un2tres.page.link</string>
					<string>applinks:undostres.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>R7V8S8P9UA</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.mx.com.123.pushtracking</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>undostres.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90c5b39b-5084-4a5b-be9e-8db843ac228d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: mx.com.123</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R7V8S8P9UA</string>
				<key>name</key>
				<string>Belanea Mexico SAPI de CV</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
